---
import { AlumniProfileInfo } from '../utils/types';

const { name, program, batch, image, slogan, tags, history, slug } = Astro.props as AlumniProfileInfo;
---

<div class="bg-gray-800 rounded-lg shadow-lg p-6 hover:shadow-xl transition-shadow duration-300">
  {image?.url ? (
    <img
      src={image.url}
      alt={`Profile picture of ${name}`}
      class="w-full h-48 object-cover rounded-t-lg"
    />
  ) : (
    <div class="w-full h-48 bg-gray-700 rounded-t-lg flex items-center justify-center">
      <span class="text-gray-400">No Image Available</span>
    </div>
  )}
  <div class="pt-4 text-center">
    <h3 class="text-xl font-semibold">{name}</h3>
    <span class="text-sm">
      {program}, Class of {batch}
    </span>
    {slogan && <p class="text-gray-400 italic">{slogan}</p>}
    <div class="flex space-x-2 mt-4 ">
      {tags.map((tag, index) => (
        <span
          class="bg-blue-200 text-blue-800 text-xs font-semibold px-2 py-1 rounded"
        >
          {tag}
        </span>
      ))}
    </div>
    <div class="mt-4 text-left">
      <ul class="text-sm">
        {history.map((item) => (
          <li>
            <strong>{item.year}:</strong> {item.position} at {item.company}
          </li>
        ))}
      </ul>
    </div>
    <div class="mt-6 text-center">
      <a
        href={`/profiles/${slug}`}
        class="text-blue-500 hover:underline"
      >
        See More
      </a>
    </div>
  </div>
</div>
